<app-menu [cityNames]="aroundCites" (getSelectedCoords)="updateCurrentCity($event)" [(showModal)]="showModal">
</app-menu>

<ng-template #loadingTemp>
    <div class="flex-container center-all height-100 column">
        <img src="./../../../assets/imgs/loading.gif" height="30%" alt="">

        <div class="city-temp text-center">
            Gatherting Data
        </div>
    </div>
</ng-template>
<div class="root flex-container space-evenly column width-100" *ngIf="loading else loadingTemp">
    <div (click)="showHideModal()" class="icon-menu right">
        <i class="fas fa-list-ul"></i>
    </div>
    <div main-weather-data [currentCity]="currentCity">

    </div>
    <div hourData [hours]="hours">

    </div>
    <div class="width-100">
        <div class="city-high-low text-left padding-l5">
            For a week
        </div>
        <div class="panel">
            <weather-small *ngFor="let day of days" [iconUrl]="day.iconUrl" [dayName]="day.dayName" [id]="day.id" [low]="day.main.temp_min" [high]="day.main.temp_max"></weather-small>
        </div>
    </div>
