/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Poppins;
    src: url('.//assets/fonts/Poppins-Light.ttf')
}

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    // overflow-y: hidden;
    background-color: rgb(87, 143, 191);
    background-image: url('./assets/imgs/lake_s.jpg');
    background-size: cover;
    ;
}

.city-name {
    @extend .text-center;
    font-size: 40px;
    color: white;
    font-weight: 700;
    padding: 20px !important;
}

.flex-container {
    display: flex;
    &.center-all {
        justify-content: center;
        align-items: center;
    }
    &.space-evenly {
        justify-content: space-evenly;
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.root {
    height: 100%;
    position: relative;
}

.icon-menu {
    position: absolute;
    top: 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    z-index: 3432324;
    &:active {
        color: rgb(114, 219, 245);
    }
    &.right {
        right: calc(100% - 50px);
    }
    &.left {
        left: calc(100% - 50px);
    }
}

.height-100 {
    height: 100%;
}

.panel {
    background: rgba(0, 0, 0, 0.3);
    padding: 15px !important;
}

.padding-l5 {
    padding-left: 5px !important;
}

.img-responsvie {
    max-width: 100%;
    height: 200px;
}

.city-high-low {
    font-size: 20px;
    color: white;
}

.city-temp {
    font-size: 30px;
    color: white;
}
