/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Poppins;
    src: url('.//assets/fonts/Poppins-Light.ttf')
}

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

html,
body {
    height: 100%;
    // overflow-y: hidden;
    ;
}

.city-name {
    font-size: 60px;
    color: white;
    font-weight: 700;
}

.flex-container {
    display: flex;
    &.center-all {
        justify-content: center;
        align-items: center;
    }
    &.space-between {
        justify-content: space-evenly;
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.root {
    height: 100%;
    background: linear-gradient(45deg, #5FC9F6, #594796);
    position: relative;
}

.icon-menu {
    position: absolute;
    top: 10px;
    left: calc(100% - 50px);
    font-size: 25px;
    color: white;
    cursor: pointer;
    &:hover {
        color: rgb(114, 219, 245);
    }
}