:host {
    color: white;
}

.modal {
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 21312;
    direction: ltr;
    animation: collapse-in 0.5s forwards;
    outline: none;
    .modal-body {
        outline: none;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg, #9c0000c4, #000000);
        flex-grow: 1;
        overflow: auto;
        >* {
            animation: show-children 0.7s;
        }
    }
    &:focus {
        animation: collapse-out 0.5s forwards;
        .modal-body {
            >* {
                visibility: hidden;
            }
        }
    }
}

.search-group {
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        color: white;
        font-size: 20px;
        padding-bottom: 10px;
    }
    input {
        outline: none;
        width: 80%;
        height: 40px;
        border: none;
        font-size: 15px;
        padding: 5px;
        padding-left: 35px;
        border-radius: 27px;
        position: relative;
    }
    padding-bottom: 5px;
}

.pos-r {
    position: relative;
}

.test {
    & i {
        position: absolute;
        left: 0;
        top: 0;
    }
}

@keyframes show-children {
    0% {
        // direction: ltr;
        visibility: hidden;
    }
    99% {
        // direction: ltr;
        visibility: hidden;
    }
    100% {
        // direction: rtl;
        visibility: visible;
    }
}

@keyframes collapse-in {
    0% {
        // direction: ltr;
        width: 0px;
    }
    99% {
        // direction: ltr;
    }
    100% {
        // direction: rtl;
        width: 100%;
    }
}

.list-header {
    font-size: 20px;
    padding: 5px;
}

@keyframes collapse-out {
    0% {
        // direction: ltr;
        width: 100%;
    }
    99% {
        // direction: ltr;
    }
    100% {
        // direction: rtl;
        width: 0%;
    }
}

.list-header {
    font-size: 25px;
    padding: 5px;
}

.city-element {
    font-size: 15px;
    padding: 7px;
    border: 1px solid white;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    &:active {
        color: rgb(4, 250, 197);
        border: 1px dashed rgb(4, 250, 197);
    }
}

.search-icon {
    position: absolute;
    top: 13px;
    left: 50px;
    color: black;
}