<div class="modal" tabindex="-1" [ngStyle]='{"display":showModal?"block":"none"}'>
    <div class='modal-body' tabindex="0">
        <div class='search-group'>
            <span>Search By City Name</span>
            <input [(ngModel)]='searchInput'>
        </div>
        <div>
            <div class='list-header'>
                Cities
            </div>
            <div class='flex-container center-all column'>
                <div class='city-element' (click)="returnSelectedCity(city.id);closeModel();" *ngFor='let city of cityNames | cityFilter:searchInput'>
                    {{city.name}}
                </div>
            </div>
        </div>
    </div>
</div>